{{ block title }}<h2 style="text-align: center;">Round {{ current_round }} Game {{ game_AB }}</h2>{{ endblock }}
{{ block content }}
<style>
    .game-records {
        border-collapse: collapse;
        width: 100%;
    }
    .game-records th, .game-records td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    .game-records th {
        background-color: #f2f2f2;
    }
    .game-records tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>
{% if last_record %}
<h3>Results of game {{ last_record.game }} </h3>
    <p>
        In the last round:
    </p>
    <p>
        You chose to {{ last_record.your_decision }} and your opponent chose to {{ last_record.opponent_decision }}. As a result, you earned {{ last_record.your_payoff }}.
    </p>
    <p>
        Now you will play game {{ game_AB }}. Keep in mind that your opponent may have changed.
    </p> 
    <h4>Your opponent has {{ opponent_last_choice }} in the previous {% if game_AB == 'B' %} game. {% else %} game of the previous round. {% endif %}</h4>
{% endif %}  
{% if is_bot %}
    <h3>Processing...</h3>
    <p>Please wait, making automatic decision...</p>
{% else %}
    <h3>Your Choice</h3>
    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">The Other Participant</th>
            </tr>
            <tr>
                <th>Cooperate</th>
                <th>Defect</th>
            </tr>
            <tr>
                <th rowspan="2"><span>You</span></th>
                <td><button name="cooperate" value="True" class="btn btn-primary btn-large">I will cooperate</button></td>
                <td>{{ payoffs.cooperate_cooperate }}, {{ payoffs.cooperate_cooperate }}</td>
                <td>{{ payoffs.cooperate_defect }}, {{ payoffs.defect_cooperate }}</td>
            </tr>
            <tr>
                <td><button name="cooperate" value="False" class="btn btn-primary btn-large">I will defect</button></td>
                <td>{{ payoffs.defect_cooperate }}, {{ payoffs.cooperate_defect }}</td>
                <td>{{ payoffs.defect_defect }}, {{ payoffs.defect_defect }}</td>
            </tr>
        </table>
    </div>
{% endif %}
{% if condition == 1 %}
    {% if filtered_records %}
    <h3>Current Opponent's Past Records:</h3>
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Game</th>
                <th>Opponent's Decision in game A</th>
                <th>Opponent's Payoff</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.game }}</td>
                <td>{{ record.your_decision }}</td>
                <td>{{ record.your_payoff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% elif condition == 2 %}
    {% if filtered_records %}
    <h3>Current Opponent's Past Records:</h3>
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Game</th>
                <th>Opponent's Decision in game A</th>
                <th>Opponent's Payoff</th>
                <th>Opponent's Opponent Decision in Game A</th>
                <th>Opponent's Opponent Payoff</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.game }}</td>
                <td>{{ record.your_decision }}</td>
                <td>{{ record.your_payoff }}</td>
                <td>{{ record.opponent_decision }}</td>
                <td>{{ record.opponent_payoff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% elif condition == 3 %}
    {% if filtered_records %}
    <h3>Current Opponent's Past Records:</h3>
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Opponent's Decision in Game A</th>
                <th>Opponent's Decision in Game B</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.opponents_decision_in_game_A }}</td>
                <td>{{ record.opponents_decision_in_game_B }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% endif %}
{% elif condition == 4 %}
    {% if filtered_records %}
    <h3>Current Opponent's Past Records:</h3>
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Opponent's Decision in Game A</th>
                <th>Opponent's Opponent Decision in Game A</th>
                <th>Opponent's Decision in Game B</th>
                <th>Opponent's Opponent Decision in Game B</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.opponents_decision_in_game_A }}</td>
                <td>{{ record.opponents_opponent_decision_in_game_A }}</td>
                <td>{{ record.opponents_decision_in_game_B }}</td>
                <td>{{ record.opponents_opponent_decision_in_game_B }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% endif %}
{% else %}
    {% if filtered_records %}
    <h3>Current Opponent's Past Records:</h3>
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Game</th>
                <th>Opponent ID</th>
                <th>Opponent's Decision</th>
                <th>Opponent's Payoff</th>
                <th>Opponent's Opponent ID</th>
                <th>Opponent's Opponent Decision</th>
                <th>Opponent's Opponent Payoff</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.game }}</td>
                <td>{{ record.your_id }}</td>
                <td>{{ record.your_decision }}</td>
                <td>{{ record.your_payoff }}</td>
                <td>{{ record.opponent_id }}</td>
                <td>{{ record.opponent_decision }}</td>
                <td>{{ record.opponent_payoff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
    {{ include_sibling 'instructions.html' }}
{{ endblock }}
