{{ block title }}
<h2 style="text-align: center;">Round {{ current_round }}</h2>
<!--<h3 style="text-align: center;">Game {{ game_12 }}</h3>-->
{{ endblock }}
{{ block content }}
<style>
    .game-records {
        border-collapse: collapse;
        width: 100%;
    }
    .game-records th, .game-records td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    .game-records th {
        background-color: #f2f2f2;
    }
    .game-records tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>
{% if game_12 == '2' %}
    {% if last_record %}
    <h3>Results of game {{ last_record.game }} </h3>
        <p>
            In the previous round:
            You chose strategy {{ last_record.your_decision }} and the other participant chose strategy {{ last_record.opponent_decision }}. As a result, you earned {{ last_record.your_payoff }}.
        </p>
        <p>
            Now you will play game {{ game_12 }}.
        </p> 
        {% if directinteraction == 0 %}
        <p>
            Keep in mind that your partner may have changed.
        </p>
        {% endif %}
        <h4>Your current partner has chosen strategy {{ opponent_last_choice }} in the previous {% if game_12 == '2' %} game. {% else %} game of the previous round. {% endif %}</h4>
    {% endif %}  
{% endif %} 
<h3>Please choose one of the options:</h3>
<p>Your payoff will determined by your choice and the other player's choice.</p>
<p>For each pair of options that you and the other player choose, your payoff will be the first number of the pair, and the other player's payoff will be the second number.</p>
<div class="form-group required">
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">The Other Participant</th>
        </tr>
        <tr>
            <th>Strategy A</th>
            <th>Strategy B </th>
        </tr>
        <tr>
            <th rowspan="2"><span>You</span></th>
            <td><button name="cooperate" value="True" class="btn btn-primary btn-large">Strategy A</button></td>
            <td>{{ payoffs.cooperate_cooperate }}, {{ payoffs.cooperate_cooperate }}</td>
            <td>{{ payoffs.cooperate_defect }}, {{ payoffs.defect_cooperate }}</td>
        </tr>
        <tr>
            <td><button name="cooperate" value="False" class="btn btn-primary btn-large">Strategy B</button></td>
            <td>{{ payoffs.defect_cooperate }}, {{ payoffs.cooperate_defect }}</td>
            <td>{{ payoffs.defect_defect }}, {{ payoffs.defect_defect }}</td>
        </tr>
    </table>
</div>
{% if last_record %}
<h3>Below you can see your opponent’s decisions in the previous rounds.</h3>
{% endif %}
{% if condition == 1 %}
    {% if filtered_records %}
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Game</th>
                <th>Opponent's Strategy in previous game</th>
                <th>Opponent's Payoff</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.game }}</td>
                <td>{{ record.your_decision }}</td>
                <td>{{ record.your_payoff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% elif condition == 2 %}
    {% if filtered_records %}
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Game</th>
                <th>Opponent's Strategy in previous game</th>
                <th>Opponent's Payoff</th>
                <th>Opponent's Opponent Strategy in previous game</th>
                <th>Opponent's Opponent Payoff</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.game }}</td>
                <td>{{ record.your_decision }}</td>
                <td>{{ record.your_payoff }}</td>
                <td>{{ record.opponent_decision }}</td>
                <td>{{ record.opponent_payoff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% elif condition == 3 %}
    {% if filtered_records %}
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Opponent's Strategy in Game 1</th>
                <th>Opponent's Strategy in Game 2</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.opponents_decision_in_game_A }}</td>
                <td>{{ record.opponents_decision_in_game_B }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% endif %}
{% elif condition == 4 %}
    {% if filtered_records %}
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Opponent's Strategy in Game 1</th>
                <th>Opponent's Opponent Strategy in Game 1</th>
                <th>Opponent's Strategy in Game 2</th>
                <th>Opponent's Opponent Strategy in Game 2</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.opponents_decision_in_game_A }}</td>
                <td>{{ record.opponents_opponent_decision_in_game_A }}</td>
                <td>{{ record.opponents_decision_in_game_B }}</td>
                <td>{{ record.opponents_opponent_decision_in_game_B }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    {% endif %}
{% else %}
    {% if filtered_records %}
    <table class="game-records" border="1">
        <thead>
            <tr>
                <th>Round</th>
                <th>Game</th>
                <th>Opponent ID</th>
                <th>Opponent's Strategy</th>
                <th>Opponent's Payoff</th>
                <th>Opponent's Opponent ID</th>
                <th>Opponent's Opponent Strategy</th>
                <th>Opponent's Opponent Payoff</th>
            </tr>
        </thead>
        <tbody>
            {% for record in filtered_records %}
            <tr>
                <td>{{ record.round }}</td>
                <td>{{ record.game }}</td>
                <td>{{ record.your_id }}</td>
                <td>{{ record.your_decision }}</td>
                <td>{{ record.your_payoff }}</td>
                <td>{{ record.opponent_id }}</td>
                <td>{{ record.opponent_decision }}</td>
                <td>{{ record.opponent_payoff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
{{ endblock }}
