{{ block title }}Results of round {{ current_round }}  {% if last_record %} {% if last_record.game == 2 %}game {{ last_record.game }} {% endif %} {% endif %}{{ endblock }}
{{ block content }}
{% if last_record %}
    <p>
        In the last round:
    </p>
    <p>
        You chose strategy {{ last_record.your_decision }} and your opponent chose strategy {{ last_record.opponent_decision }}. As a result, you earned {{ last_record.your_payoff }}.
    </p>
    <p>
        Please press the next button to play the next round.
    </p>
{% else %}
    <p>
        No records
    </p>
{% endif %}
{{ next_button }}
{{ endblock }}