{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
<hr/>
<div class="card m-3" id="1">
    <div class="card-body" style="background-color: white;">
        <h3 style="text-align: center;">
            Thank you for participating in our experiment!
        </h3>
    </div>
</div>
<div class="card m-3 cardq" id="2">
    <div class="card-body">
        <h3 style="text-align: center;">
            In this experiment, you work in a group of participants to find the temperature of a room.
        </h3>
        <hr/>
        <br/>
        <br/>
        <br/>
        <img src="{% static '1.png' %}" alt="Your Image" width="100%" height="250" class="center">
    </div>
</div>
<div class="card m-3 cardq" id="3">
    <div class="card-body">
        <h3 style="text-align: center;">
            Your task is to estimate the temperature of a room
        </h3>
        <hr/>
        <br/>
        <br/>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="width: 78%;">
                <ul>
                    <li>
                        The experiment lasts for {{round}} rounds.
                    </li>
                    <li>
                        In each round, the temperature of the room may change. Otherwise, the temperature will be the same as in the previous round.
                    </li>
                    <li>
                        Each member of the group has a thermometer.
                    </li>
                    <li>
                        The thermometers may be noisy: their output may have some unknown error and varies across time.
                    </li>
                    <li>
                        In each round, everybody receives a reading from his/her thermometer.
                    </li>
                </ul>
            </span>
            <span style="width: 18%;">
                <img src="{% static '2.png' %}" alt="Your Image" width="130" height="200" class="center">
            </span>
        </div>

    </div>
</div>
<div class="card m-3 cardq" id="4">
    <div class="card-body">
        <h3 style="text-align:center;">
            Your task
        </h3>
        <hr/>
        <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span style="width: 60%;">
                            <ul>
                                <li>
                                    You will also receive information about other participants’ estimate of the temperature, in the past round.
                            </li>
                                <li>
                            Due to the internet connection noise, the information you receive from others is also noisy and may have some error.
                            </li>
                            <li>
                            Similarly to you, other participants also receive noisy information about estimates of others.
                                </li>
                            </ul>
                        </span>
            <span style="width: 40%;">
                <img src="{% static '3.png' %}" alt="Your Image" width="100%" height="220px">

                <img src="{% static '4.png' %}" alt="Your Image" width="100%" height="220px">
            </span>
        </div>

    </div>
</div>
<div class="card m-3 cardq" id="5">
    <div class="card-body">
        <h3 style="text-align:center;">
            Your task
        </h3>
        <hr/>

        <div style="display: flex; justify-content: space-between; align-items: center;">
<span style="width=60%">
<ul>
    <li>
   Your task is to put together all your information from
        <ul>
            <li>
the noisy thermometer reading
        </li>
            <li>
the communication with others in your group
and estimate the temperature of the room.
            </li>
            </ul>
</li>
    <li>
Other participants do the same.
    </li>
    </ul>
    </span>
            <span style="width=40%">
                <img src="{% static '5.png' %}" alt="Your Image" width="100%" height="100%">

             </span>

        </div>
    </div>
</div>
<div class="card m-3 cardq" id="6">
    <div class="card-body">
        <h3 style="text-align:center;">
            Your task
        </h3>
        <hr/>
        <br/>
        <br/>
        <ul>
            <li>
                In the first round, everyone only sees their own thermometer.
            </li>
            <li>
                After the first round, everyone sees both his/her thermometer and others’ estimate in the previous
                round.
            </li>
            <li>
                In each round, after giving your estimate, you will also report how confident you are about your
                estimate.
            </li>
            {% if confCheck%}
            <li>
                You will also see how confident others were on their belief when you see a noisy information of their
                belief in the previous round.
            </li>
            {% endif %}

        </ul>

    </div>
</div>
<div class="card m-3 cardq" id="7">
    <div class="card-body">

        <h3 style="text-align:center;">Your earnings</h3>
        <hr/>
        <br/>
        <br/>
        <ul>
            <li>
                At the end of the experiment, you will receive a monetary payoff.
            </li>
            <li>
                Your payment depends on your own performance, and how well you estimated the true temperature across all
                rounds.
            </li>
            <li>
                Your payoff will be shown in points. Each point worth 0.01 pounds. Please note your bonus will not exceed 2 pounds.
            </li>
        </ul>

        <img src="{% static '6.png' %}" alt="Your Image" width="100%" height="300px" class="center">


    </div>
</div>
<div class="card m-3 cardq" id="8">
    <div class="card-body">
        <h3 style="text-align:center;">Here is a summary of the instructions, if you want to review</h3>
        <hr/>

        In this experiment, you work in a group to find the temperature of a room. For this purpose you will have access
        to two sources of information:
        <ul>
            <li>
                You will see an estimate of the temperature by a thermometer. However, the thermometer has some error:
                What the thermometer shows may deviate from the true temperature to some extent.
            </li>
            <li>
                You will also receive information about the belief of other participants in the group {% if confCheck %}
                and their confidence on their belief as well. However, this
                {% endif %}information has some error, as well. That is, the number you see as the belief of a
                participant, has some
                deviation from his/her true belief.
            </li>
        </ul>
        The experiment will last for {{round}} rounds. In the first round, you will only see
        an estimate from the thermometer. In the subsequent rounds, you will also see information about other
        participants’ estimate, in the previous round. After seeing this information, please insert your estimate of the
        room temperature
        and your confidence on your belief in the corresponding response fields. Then, please press the next button to
        continue to the next page, where you will start the next round.
        In the end of the experiment, you will receive a monetary payoff based on how accurate you had been able to
        guess the room temperature, in the course of the experiment.

    </div>

</div>
<span id="introBtns">
    <input type="button" id="next" value="Next" class="btn btn-primary"></input>

</span>

<span id="compre">

    1. Assume your thermometer shows 100 in a round. This means:
<br/>
<input type="radio" id="1_a" name="1" value="1_a" required>
<label for="1_a"> The room temperature is 100.</label><br>
<input type="radio" id="1_b" name="1" value="1_b">
<label for="1_b"> The room temperature may be 100 or not, as the thermometer may have some error.</label><br>
<br/>
2. What information of others choices you will see in each round?
<br/>
<input type="radio" id="2_a" name="2" value="2_a" required>
<label for="2_a"> Their guess of the the room temperature in the past round.</label><br>
<input type="radio" id="2_c" name="2" value="2_c">
<label for="2_c"> A noisy information of their belief about the room temperature {% if confCheck %}and their confidence
    on their belief {% endif %}in the past round.</label><br>
<br/>
3. The game will last for how many rounds?
<br/>
<input type="radio" id="3_a" name="3" value="3_a" required>
<label for="3_a"> {{round}}</label><br>
<input type="radio" id="3_b" name="3" value="3_b">
<label for="3_b"> {{not_num_rounds}}</label><br>

<br/>

<span style="color:red" id="required">To proceed, please respond to each question. Your cooperation is appreciated.
</span>

<span style="color:red" id="err">At least one of your answers is incorrect. Please review your response. You may try only <span
        id="count"> </span> remaining time.</span>

<span id="msg" style="color:green">Congratulations! Your answers are correct. Please press the 'Next' button to start the game.</span>
<br/>
    <br/>
<button class="btn btn-primary" id="sub" name="sub" type="button">check</button>


</span>

<input type="button" id="back" value="Back" class="btn btn-secondary"></input>
    <span id="nextbtn">
    {% next_button%}
</span>

<script>
proceed = 0
$(document).ready(function() {
$("#nextbtn").hide()
$(".otree-btn-next").text("Continue")
    page = 1

    $("#back").hide()

    $("#2").hide()
    $("#3").hide()
    $("#4").hide()
    $("#5").hide()
    $("#6").hide()
    $("#7").hide()
    $("#8").hide()
    $("#compre").hide()
    $("#back").click(function(){
        $("#compre").hide()
        $("#nextbtn").hide()
        $("#introBtns").show()
        $("#" + page).hide()
        page = page - 1
        $("#" + page).show()
        if (page > 1){
            $("#back").show()
        }
        if (page == 1){
            $("#back").hide()
        }
    });

    $("#next").click(function(){
        $("#" + page).hide()
        page = page + 1
        $("#" + page).show()
        $("#back").show()
        if (page == 9){
            if (proceed == 1){
                $("#nextbtn").show()
            }
            $("#introBtns").hide()
            $("#compre").show()
        }
    });

});

$("#msg").hide()
$("#err").hide()
$("#required").hide()

count = 0
$("#count").text(count)
    $("#sub").on("click", function(){
        choice1 = $('input[name="1"]:checked')
        choice2 = $('input[name="2"]:checked')
        choice3 = $('input[name="3"]:checked')

       if(choice1 && choice2 && choice3) {
            $("#required").hide()
            if (choice1.val() == "1_b" && choice2.val() == "2_c" && choice3.val() == "3_a"){
                    proceed = 1
                    $("#msg").show()
                    $("#sub").hide()
                    liveSend(1)
                    $("#err").hide()
                    $("#nextbtn").show()
                    var radioButtons = document.querySelectorAll('input[type="radio"]');
                        radioButtons.forEach(function(radioButton) {
                          radioButton.disabled = true;
                        }
                    );
            } else {
                $("#err").show()
                    if (count == 5){
                        $("#sub").hide()
                        $("#nextbtn").show()
                        liveSend(0)

                    } else {
                        count += 1
                        $("#count").text(5 - count)
                    }
            }

        } else {
        $("#err").hide()
            $("#required").show()
        }

    })

</script>

<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.cardq{
height:530px
}

    #msg{
    color:green;
    }
    #count{
    color:red;
    font-weight:bold;
    font-size:20px;
    }

</style>

{% endblock %}

