{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions
{% endblock %}

{% block content %}
<hr/>

<div class="card m-3 cardq" id="1">
    <div class="card-body">
        <h3 style="text-align: center;">
            Thank you for participating in our experiment!
        </h3>
        <br>
        <h4 style="text-align: center;">
            Instructions
        </h4>
        <p>Please read these instructions carefully as it can help you to gain more reward from the game.</p>
        <p>You will play a game in a group of {{no_of_participants}} participants. The game is composed of {{no_of_rounds}} rounds. Each round has two stages. 
            {% if directinteraction == 1 %} 
                In each round, you will be paired with an opponent at random to play two games.
            {% elif directinteraction == 0 %}
                In each stage, you will be paired with an opponent at random to play a game.
            {% endif %} 
            The game have two strategies, A and B.</p>
        <p>We will call the game that you play in stage 1 of each round, game 1. Below you can see the payoff of yourself and your opponent in the game 1. You will need to choose your strategy by clicking on one of the blue buttons, A and B.</p>
        <table class='table table-bordered text-center' style='width: auto; margin: auto'>
            <tr>
                <th colspan=2 rowspan=2></th>
                <th colspan=2>The Other Participant</th>
            </tr>
            <tr>
                <th>Strategy A</th>
                <th>Strategy B</th>
            </tr>
            <tr>
                <th rowspan=2><span style="transform: rotate(-90deg);">You</span></th>
                <td><button name="cooperate" value="True" class="btn btn-primary btn-large" disabled>Strategy A</button></td>
                <td>3 points, 3 points</td>
                <td>0 points, 5 points</td>
            </tr>
            <tr>
                <td><button name="cooperate" value="False" class="btn btn-primary btn-large" disabled>Strategy B</button></td>
                <td>5 points, 0 points</td>
                <td>1 point, 1 point</td>
            </tr>
        </table>
    </div>
</div>

<!-- Adding another card before the questions as requested -->
<div class="card m-3" id="2">
    <div class="card-body">
        <p>
            After all players play <strong>game 1</strong>, you will go to the next stage, where you play <strong>game 2</strong>
            {% if directinteraction == 1 %}
                with the same opponent
            {% elif directinteraction == 0 %}
                . Please note that your opponent in this game will be chosen anew from the group.
            {% endif %}
        </p>
        <p>The payoff matrix of game 2 is shown below</p>
        <table class='table table-bordered text-center' style='width: auto; margin: auto'>
            <tr>
                <th colspan=2 rowspan=2></th>
                <th colspan=2>The Other Participant</th>
            </tr>
            <tr>
                <th>Strategy A</th>
                <th>Strategy B</th>
            </tr>
            <tr>
                <th rowspan=2><span style="transform: rotate(-90deg);">You</span></th>
                <td><button name="cooperate" value="True" class="btn btn-primary btn-large" disabled>Strategy A</button></td>
                <td>3 points, 3 points</td>
                <td>1 points, 5 points</td>
            </tr>
            <tr>
                <td><button name="cooperate" value="False" class="btn btn-primary btn-large" disabled>Strategy B</button></td>
                <td>5 points, 1 points</td>
                <td>0 point, 0 point</td>
            </tr>
        </table>
        <p>Here again, you can choose your strategy by clicking on the strategy of your choice shown in blue. Please note the payoffs in this game are different: if you both play A, you both get 3 points. If you both play B, you both get 0 points. And if you play A and your opponent plays B, you will get 1 point and your opponent will get 5 points.</p>
        <p>Below you can see a screenshot of this stage. On the top of this page you see a summary of your and your opponent’s strategy in the previous stage, and your payoff from stage 1. Then you can see your opponent’s strategy in his/her previous game. Below this page, you can see a table containing information about your opponent’s strategy in his/her past {{l}} rounds in games
            {% if condition == 1 or condition == 2%}
            1.
            {% elif condition == 3 or condition == 4%}
            1 and 2.
            {% else %}
            .
            {% endif %}
            </p>
    </div>
    
</div>

<span id="introBtns">
    <input type="button" id="next" value="Next" class="btn btn-primary"></input>

</span>

<span id="compre">

    1. You will be playing against how many opponents in a single game:
<br/>
<input type="radio" id="1_a" name="1" value="1_a" required>
<label for="1_a"> 1 </label><br>
<input type="radio" id="1_b" name="1" value="1_b">
<label for="1_b"> 7</label><br>
<br/>
2. What information of others choices you will see in each round?
<br/>
<input type="radio" id="2_a" name="2" value="2_a" required>
<label for="2_a"> Predicitons of what your opponent might choose this round</label><br>
<input type="radio" id="2_b" name="2" value="2_b">
<label for="2_b"> Their decisions in the past rounds.</label><br>
<br/>
3. How many rounds will be there?
<br/>
<input type="radio" id="3_a" name="3" value="3_a" required>
<label for="3_a"> {{no_of_rounds}}</label><br>
<input type="radio" id="3_b" name="3" value="3_b">
<label for="3_b"> {{not_num_rounds}}</label><br>

<br/>

4. How many opponents are there in total, including yourself?
<br/>
<input type="radio" id="4_a" name="4" value="4_a" required>
<label for="4_a"> {{no_of_participants}}</label><br>
<input type="radio" id="4_b" name="4" value="4_b">
<label for="4_b"> 11 </label><br>

<br/>

<span style="color:red" id="required">To proceed, please respond to each question. Your cooperation is appreciated.
</span>

<span style="color:red" id="err">At least one of your answers is incorrect. Please review your response. Remaining number of attempts: <br> <span id="count"> </span></span>


<span id="msg" style="color:green">Congratulations! Your answers are correct. Please press the 'Next' button to start the game.</span>
<br/>
    <br/>
<button class="btn btn-primary" id="sub" name="sub" type="button">check</button>


</span>

<input type="button" id="back" value="Back" class="btn btn-secondary"></input>
    <span id="nextbtn">
    {% next_button %}
</span>

<script>
var proceed = 0;
var page = 1; // Initialize page variable
proceed = 0
$(document).ready(function() {
$("#nextbtn").hide()
$(".otree-btn-next").text("Continue")
    page = 1

    $("#back").hide()

    $("#2").hide()
    $("#compre").hide()
    $("#back").click(function(){
        $("#compre").hide()
        $("#nextbtn").hide()
        $("#introBtns").show()
        $("#" + page).hide()
        page = page - 1
        $("#" + page).show()
        if (page > 1){
            $("#back").show()
        }
        if (page == 1){
            $("#back").hide()
        }
    });

    $("#next").click(function(){
        $("#" + page).hide()
        page = page + 1
        $("#" + page).show()
        $("#back").show()
        if (page == 3){
            if (proceed == 1 || attemptLimitReached){
                $("#nextbtn").show()
            }
            $("#introBtns").hide()
            $("#compre").show()
        }
    });

});

$("#msg").hide()
$("#err").hide()
$("#required").hide()

count = 0
var attemptLimitReached = false;
$("#count").text(count)
    $("#sub").on("click", function(){
        choice1 = $('input[name="1"]:checked')
        choice2 = $('input[name="2"]:checked')
        choice3 = $('input[name="3"]:checked')
        choice4 = $('input[name="4"]:checked')

        if(choice1.length > 0 && choice2.length > 0 && choice3.length > 0 && choice4.length > 0) {
            $("#required").hide()
            if (choice1.val() == "1_a" && choice2.val() == "2_b" && choice3.val() == "3_a" && choice4.val() == "4_a"){
                    proceed = 1
                    $("#msg").show()
                    $("#sub").hide()
                    liveSend(1)
                    $("#err").hide()
                    $("#nextbtn").show()
                    var radioButtons = document.querySelectorAll('input[type="radio"]');
                        radioButtons.forEach(function(radioButton) {
                            radioButton.disabled = true;
                        }
                    );
            } else {
                $("#err").show()
                    if (count == 5){
                        $("#sub").hide()
                        $("#nextbtn").show()
                        liveSend(0)
                        attemptLimitReached = true;

                    } else {
                        count += 1
                        $("#count").text(5 - count)
                    }
            }

        } else {
        $("#err").hide()
        $("#required").show()
        }

    })

</script>
    
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.cardq{
height:530px
}

    #msg{
    color:green;
    }
    #count{
    color:red;
    font-weight:bold;
    font-size:100px;
    }

</style>
{% endblock %}