{{ block title }}Results of round {{ current_round }}  {% if last_record %} game {{ last_record.game }} {% endif %} {{ endblock }}
{{ block content }}
{% if last_record %}
    <p>
        In the previous round:
        You chose strategy {{ last_record.your_decision }} and the other participant chose strategy {{ last_record.opponent_decision }}. As a result, you earned {{ last_record.your_payoff }}.
    </p>
    <p>
        Please press the next button to play the next round.
    </p>
{% else %}
    <p>
        No records
    </p>
{% endif %}
{{ next_button }}
{{ endblock }}